<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Borrow</title>
</head>
<body>
Borrow page




<table border="1" >
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
        <th>ISBN</th>
        <th>Image</th>
        <th>Borrowed</th>
    </tr>
    <tr th:each="jbcLibrary: ${jbcLibraries}">
        <td th:text="${jbcLibrary.title}"></td>
        <td th:text="${jbcLibrary.author}"></td>
        <td th:text="${jbcLibrary.year}"></td>
        <td th:text="${jbcLibrary.isbn}"></td>
        <td th:text="${jbcLibrary.image}"></td>
        <td th:text="${jbcLibrary.borrowed}"></td>
        <td>
            <form action="/checkbox-process" method="post">
                <!--<input type="submit" value="Borrow" />-->
                <input type="checkbox" name="borrowed" /><!--value="true"-->
                <input type="submit" value="Submit" />
            </form>
        </td>
    </tr>

</table>


<hr/>




</body>
</html>