<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Borrow</title>
</head>
<body>
Borrow page


<form action="/checkbox-process" method="post">
    <!--<input type="submit" value="Borrow" />-->
    <input th:each="jbcLibrary: ${jbcLibraries}" th:field="${jbcLibrary.borrowed}" type="checkbox" name="borrowed" />
    <input type="submit" value="Submit"  />
</form>

<table border="1" >
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
        <th>ISBN</th>
        <th>Image</th>
        <th>Borrowed</th>
    </tr>
    <tr th:each="jbcLibrary: ${jbcLibraries}">
        <td th:text="${jbcLibrary.title}"></td>
        <td th:text="${jbcLibrary.author}"></td>
        <td th:text="${jbcLibrary.year}"></td>
        <td th:text="${jbcLibrary.isbn}"></td>
        <td th:text="${jbcLibrary.image}"></td>
        <td th:text="${jbcLibrary.borrowed}"></td>
        <td>

        </td>
    </tr>

</table>


<hr/>




</body>
</html>